#quienes-somos {
  @include flexCenter();
  align-items: flex-start;
  width: 100%;
  padding: 5rem 0;
  height: 100vh;

  & .about {
    width: 70%;
    @include flexColumnCenter();
    font-size: $default-font-size;

    @include respond(laptop) {
      width: 90%;
    }

    & .title {
      font-size: $large-font-size;
      position: relative;
      margin-bottom: 10rem;

      @include respond(tab-land) {
        margin-bottom: 5rem;
      }

      @include respond(phone) {
        margin-bottom: 5rem;
      }

      &::after {
        position: absolute;
        content: '';
        bottom: -0.5rem;
        left: 50%;
        width: 12rem;
        height: 0.35rem;
        background-color: $color-primary;
        transform: translateX(-50%);
      }
    }

    & .card {
      width: 500px;
      height: 600px;
      position: relative;

      &:hover .card__front {
        transform: rotateY(-180deg);
      }

      &:hover .card__back {
        transform: rotateY(0deg);
      }

      @include respond(tab-land) {
        width: 450px;
        height: 550px;
      }

      @include respond(tab-port) {
        flex-direction: column;
      }

      @include respond(phone) {
        width: 300px;
        height: 400px;
      }

      // for both cards front and back
      & > div {
        perspective: 150rem;
        -moz-perspective: 150rem;
        position: absolute;
        backface-visibility: hidden;
        overflow: hidden;
        transition: all 0.8s ease;
        border-radius: 15px;
      }

      &__front {
        width: 100%;
        height: 100%;

        & > img {
          width: 100%;
        }
      }

      &__back {
        background-color: $color-primary;
        height: 100%;
        padding: 3rem;
        transform: rotateY(180deg);
        letter-spacing: 1px;
        border: 1px solid $color-primary;

        & p {
          color: $color-white;
          letter-spacing: 0.5px;
          font-size: 20px;

          @include respond(tab-land) {
            font-size: 17px;
          }

          @include respond(phone) {
            font-size: 12px;
          }
        }
      }
    }
  }
}
