.testimony {
  @include flexCenter();
  position: relative;
  height: 70vh;
  width: 100%;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../assets/images/imgBG.jpg');
    background-position: 100% 100%;
    background-size: cover;
    filter: sepia(30%) blur(10px);
  }

  &__carousel {
    @include flexCenter();
    justify-content: space-around;
    position: relative;

    &--client {
      width: 35%;
      border-radius: 10px;
      padding: 2rem;
      color: $color-primary;
      background-color: rgba($color: #fff, $alpha: 0.7);

      @include respond(tab-land) {
        width: 40%;
      }

      & p {
        font-size: 25px;

        @include respond(tab-land) {
          font-size: 20px;
        }
      }

      & .name {
        @include flexCenter();
        justify-content: space-between;
        margin-top: 1rem;

        & h2 {
          font-size: 30px;
          margin-right: 1rem;

          @include respond(tab-land) {
            font-size: 22px;
          }
        }

        & img {
          align-self: flex-end;
          width: 13rem;
          border-radius: 10px;

          @include respond(tab-land) {
            width: 10rem;
          }
        }
      }
    }
  }

  & .pagination {
    @include flexCenter();
    position: absolute;
    bottom: 4rem;
    right: 5rem;

    &__btns {
      @include flexCenter();

      .line {
        width: 4rem;
        height: 3px;
        background-color: $color-white;
        opacity: 0.7;
        margin: 0 0.5rem;
      }

      button {
        height: 3rem;
        opacity: 0.7;
        // padding: 0.5rem;
        outline: none;
        cursor: pointer;
        background: rgba($color: #fff, $alpha: 0.7);
        border: none;
        border-radius: 50%;
        font-size: 1.6rem;
        transition: all 0.3s;

        &:hover {
          opacity: 1;
          background: rgba($color: #000, $alpha: 0.4);
          filter: brightness(2);
        }
      }

      &--left,
      &--right {
        width: 2rem;
        height: 2rem;
        margin: 0.5rem;
      }

      &--left {
        transform: rotate(180deg);
      }
    }
  }
}
