.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s;

  & > p {
    margin-top: 2rem;
    margin-left: -2rem;
    font-size: 15px;
  }

  &.dark {
    opacity: 0.15;
    transform: scale(0.92);
  }

  &.down {
    transform: translateY(10rem);
    &.dark {
      transform: translateY(10rem) scale(0.92);
    }
  }
}
