.modal {
  @include flexCenter();
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba($color: #000000, $alpha: 0.7);
  z-index: 11;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s;

  &.active {
    visibility: visible;
    opacity: 1;
  }

  &__card {
    @include flexColumnCenter();
    width: fit-content;
    height: fit-content;
    position: relative;
    border-radius: 8px;
    background-color: $color-primary;
    color: $color-white;
    padding: 5rem;
    transition: all 0.3s;
    transform: translateY(-100vw);

    @include respond(tab-port) {
      width: 55rem;
    }

    @include respond(phone) {
      width: 37rem;
    }

    &.active {
      transform: translateY(0);
    }

    &--title {
      font-size: $large-font-size;
      text-decoration: underline;
      margin-bottom: 2rem;

      @include respond(tab-port) {
        font-size: 25px;
      }
    }

    &--list {
      font-size: $default-font-size;
      line-height: 40px;

      @include respond(tab-port) {
        font-size: 20px;
        line-height: 30px;
      }

      @include respond(phone) {
        line-height: 25px;
      }
    }

    &--close {
      cursor: pointer;
      color: $color-white;
      position: absolute;
      font-size: xx-large;
      top: 0;
      right: 0;
      padding: 2rem;
    }
  }
}
