.tutorial {
  height: 100vh;
  background-color: #222127;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  & > * {
    display: flex;
  }

  &__top {
    padding: 0 10rem;
    width: 100%;
    justify-content: space-around;

    &--number {
      position: relative;
      width: 60px;
      height: 60px;

      &:not(:last-child)::after {
        position: absolute;
        top: 50%;
        left: 200%;
        content: '';
        width: 100px;
        border: 1px solid #fff;
      }

      & .numb {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 20px;
      }

      & .square {
        border: 1px solid #fff;
        border-radius: 7px;
        position: absolute;
        width: 60px;
        height: 60px;
        top: 0;
        left: 0;
        transform: rotate(45deg);
      }
    }
  }

  &__icons {
  }

  &__buttons {
    width: 100%;
    justify-content: space-between;

    & > div {
      display: flex;
      align-items: center;
      margin: 0 2rem;
      border: 1px solid #fff;
      border-radius: 10px;
      padding: 0.5rem 1rem;
      transition: all 0.3s;

      &:hover {
        cursor: pointer;
        background-color: #313146;
      }

      svg {
        width: 25px;
        height: 25px;
        margin: 0 1rem;

        &:first-child {
          transform: rotate(180deg);
          margin-left: 0;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
