//COLORS
$color-primary: #222127;
$color-primary-transparent: #222127ad;
$color-primary-light: #2f2b3f;
$color-primary-dark: #1b1925;

$color-secondary-light: #d8890b;
$color-secondary-light: #dda03e;
$color-secondary-light-transparent: #d8890bb6;
$color-secondary-dark: #af700a;

$color-white: #eeeeee;
$color-grey: #cacaca;
$color-black: #0a0a0a;

//FONT
$default-font-size: 1.6rem;
