.folder {
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: all 0.3s;

  h3 {
    font-size: x-large;
    font-weight: normal;
    letter-spacing: 3px;
    margin-top: 2rem;
  }

  &:hover {
    transform: scale(1.1);
  }
}
