.bill {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  letter-spacing: 2px;

  &__type {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 70vh;

    &--types {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 50%;
      position: relative;

      h3 {
        font-size: 2.5rem;
      }

      div {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      & h2 {
        font-size: xx-large;
        margin-bottom: 5rem;
        opacity: 0.6;
      }

      & .type {
        cursor: pointer;
        width: 20%;
        display: flex;
        flex-direction: column;
        transition: transform 0.3s;

        &:hover {
          transform: scale(1.05);
        }

        &:active {
          transform: scale(1);
        }

        & svg {
          width: 100%;
          height: auto;
        }

        & span {
          opacity: 0.6;
          margin-top: 2rem;
          font-size: x-large;
        }
      }
    }
  }

  &__form {
    border: 1px solid #fff;
    border-radius: 2rem;
    padding: 2rem;
    font-size: medium;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &.Gasto {
      background-color: #9b402c54;
    }

    &.Ingreso {
      background-color: #44ff6331;
    }

    & .row {
      display: flex;
      margin: 2rem 0;
      width: 100%;

      & > * {
        margin: 0 0.5rem;
      }

      & select {
        font-size: inherit;
        cursor: pointer;
        color: white;
        outline: none;
        border: none;
        line-height: 1.1;
        padding: 0.4em 1.4em 0.3em 0.8em;
        width: fit-content;
        border-radius: 0.3em;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        background-color: #ffffff49;
        background-image: url('../../assets/icons/drop-down.svg');
        background-repeat: no-repeat, repeat;
        background-position: right 0.25em top 50%, 0 0;
        background-size: 0.65em auto, 100%;

        @media screen and (max-width: 600px) {
          padding: 0.1em 1.2em 0.1em 0.5em;
        }

        &::-ms-expand {
          display: none;
        }

        & option {
          background: rgb(70, 70, 70);
          color: #fff;
        }
      }

      & .hidden {
        // display: none;
      }

      & label.razon-social {
        width: 125px;
        margin: 0;
      }

      & input {
        font-size: inherit;
        outline: none;
        border: none;
        border-bottom: 1px solid #fff;
        background-color: transparent;
        color: #fff;
      }

      & .razon-social,
      .address {
        width: 35%;
      }

      & .concept {
        flex: 1;
      }

      & span {
        background-color: #ffffff17;
        border-radius: 0.3rem;
        width: 11rem;
        margin: 0%;
      }

      & span.retencion {
        width: 50px;
      }

      & button {
        margin: auto;

        &.btn {
          display: block;
        }
      }

      &:last-child {
        margin: 0;
      }
    }
  }
}
